
<div class="dropdown-home dropdown-people">
    <select class="select-home" onchange={{action "selectPeople" value="target.value"}}>
        <option value="1">1 people</option>
        <option value="2" selected>2 people</option>
        <option value="3">3 people</option>
        <option value="4">4 people</option>
        <option value="5">5 people</option>
        <option value="6">6 people</option>
        <option value="7">7 people</option>
        <option value="8">8 people</option>
    </select>
</div>
<div class="dropdown-home dropdown-date">
    {{pikaday-input class="pikaday" format="MM/DD/YYYY" theme="dark-theme" value=date onSelection=(action 'selectDate')}}
</div>
<div class="dropdown-home dropdown-time">
  <select class="select-home" onchange={{action "selectTime" value="target.value"}}>
      <option value="12">12 PM</option>
      <option value="13">1 PM</option>
      <option value="14">2 PM</option>
      <option value="15">3 PM</option>
      <option value="16">4 PM</option>
      <option value="17">5 PM</option>
      <option value="18" selected>6 PM</option>
      <option value="19">7 PM</option>
      <option value="20">8 PM</option>
      <option value="21">9 PM</option>
      <option value="22">10 PM</option>
      <option value="23">11 PM</option>
  </select>
</div>

<button {{action 'saveReservation'}} class="btn-outline btn-home">Find a table</button>
{{#table-search model=tablesResponse enabled=tableSearchEnable tablesEmpty=tablesEmpty makeNewReservation='makeNewReservation'}}{{/table-search}}
