
.button-add{
  width: 100%;
  height: 40px;
  background-color:#Fe4a49;
  color:#fefefe;
}

.options-col{
  width: 10%;
}
.admin-glyphicon{
  margin-left: 5px;
  color: gray;
}

.admin-glyphicon:hover{
  color: #Fe4a49;
}
th{
  font-weight: normal;
  color: gray;
}

.search-input-group{
  float: left;
  width:300px;
}
.search-input-group .input-group-addon{
    background: white !important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.search-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.add-restaurant{
  width: 140px;
  height: 35px;
  float: right;
  font-size: 14px;
}
.search-input-group button{
    border:0;
    background:transparent;
}

.restaurant-head{
  height: 30px;
  margin: 20px;
  margin-right: 0;
  margin-top: 0;
  width: 450px;
  float: right;
}

.modal-title-admin{
  font-family: Century Gothic!important;
  position: relative;
  top: 0!important;
  width: 100%;
  height: 50px;
  background-color: #Fe4a49;
  color: white;
  padding: 10px;
  text-align: left;
}

.modal-frame-admin{
  padding: 0!important;
  height: 180px;
  border-radius: 15px;
}

.modal-body-admin{
  margin: 10px;
  position: relative;
  font-size: 14px;
}

.modal-fog-admin{
  background: rgba(30, 30, 30, 0.2);
}

.admin-confirm-btn{
  margin: 10px;
  margin-right: -15px!important;
  float: right;
  height: 35px;
  width: 135px;
  background-color: #Fe4a49;
  border-color: #Fe4a49 ;
  color: white;
}

.admin-cancel-btn{
  margin: 10px;
  float: right;
  height: 35px;
  background-color: #fefefe;
  border: solid 1px #Fe4a49;
  color: #Fe4a49;
  width: 80px;
}
