<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ERestaurantFE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name="e-restaurant-fe/config/environment" content="%7B%22modulePrefix%22%3A%22e-restaurant-fe%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22e-restaurant-fe%22%2C%22version%22%3A%220.0.0+74ec1fdc%22%7D%2C%22API_HOST%22%3A%22https%3A//stark-citadel-95079.herokuapp.com%22%2C%22API_VERSION%22%3A%221%22%2C%22exportApplicationGlobal%22%3Afalse%7D" />

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/vendor.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/ember-app.css")">

    </head>
    <body>


        <script src="@routes.Assets.versioned("javascripts/vendor.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ember-app.js")"></script>


    </body>
</html>
